<h1>HELLO WORLD FROM INDEX!</h1>
<a href="/demo/hello"> Hello Page 1</a><br />
<%= link_to('Hello Page 2', '/demo/hello') %> <br />
<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %>
