<!DOCTYPE html>
<html>
<body style="background-color: #FFC;">

<h1 style="background-color:red;"><div style="background-color:#9C0;border:1px solid black;padding:10px;"> <b> <i> Assignment for Sir Omair </i> </b> </div></h1>

<p > <div style="background-color:#9C0;border:1px solid black;padding:10px;"> <i> Submitted BY:M. Husnain <br>ROLL #: M09-10-401 </i> </div></p>

<a href="http://www.facebook.com/">This is facebook link!</a> 

<h2 style="background-color:purple;"><div style="background-color:#9C0;border:1px solid black;padding:10px;"> <b> <i> COLLEGE OF ENGINEERING & EMERGING TECHNOLOGY,UNIVERSITY OF THE PUNJAB </i> </b></div> </h2>
<div align="center"> <img src="University-of-Punjab-Lahore-PU-Logo.jpg" width="200" height="200"></div>
</body>
</html> 